.container {
    display: grid;
  }
  .title {
    padding: 30px 15px;
    margin: 0 auto;
    font-size: 60px;
    
  }
  .img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .list {
    display: grid;
    max-width: calc(100vw - 35px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 35px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .link {
    display: block;
    max-width: 300px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 15px;
  }
  .text{
      text-align: center;
  }