/* .button{

} */
/* .button{
    font-size: 15px;
    padding: 3px 7px;

    border-radius: 5px;
    border:none;
    color: rgba(101, 68, 35, 0.818);
    background-color:  rgba(58, 61, 133, 0.48);
}
.button:hover{
    background-color: aqua;
} */